course-starting-project/course-starting-project/node_modules/*
02 course-starting-project/02 course-starting-project/node_modules/*
05-starting-setup/05-starting-setup/node_modules/*
06-starting-setup/node_modules/*
07-starting-setup/node_modules/*